.CardOrderModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    background-color: white;
    border: 1px dotted gray;
    border-radius: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px 2px gray;
    margin-bottom: 10px;
    &:hover{
    box-shadow: 0 0 5px 2px gray;
    }
    div{
        div{
            font-size: 12px;
        }
    }
    &__price{
        .Price{
            font-size: 20px;
        }
    }

}