@import "../../../app/Styles/Variables.scss";

.Modal {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    height: 100vh;
    background: rgb(67, 67, 67, 0.3);
    backdrop-filter: blur(4px);
    &__content {
        overflow-y: auto;
        display: flex;
        max-height: 90%;
        padding: 10px;
        min-width: 80%;
        box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.9);
        background: rgba(255, 255, 255, 0.9);
        position: fixed;
        border-radius: 10px;
        min-height: 700px;
        overflow-y: auto;
        @media screen and (max-width: 700px) {
            width: 100%;
        }
        @extend %scroll;
    }
    &__form {
        form {
            display: flex;
            flex-direction: column;
        }
    }
}
