.OrderList{
    display: flex;
    flex-direction: column;
    height: 100%;
    &__unit{
        display: flex;
        gap: 20px;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px dotted gray;
        div{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        transition: 0.3s;
        perspective: 230px;
        cursor: pointer;
        &:hover{
            background-color: rgba(128, 128, 128, 0.2);
            // transform: rotateX(20deg);
            box-shadow: 5px 2px 5px 2px;
        }
    }
}

.LoaderOrder{
    position: relative;
}